 <h1><%= @article.title %></h1>
 <h3><%= @article.body %></h3>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<br/>
<%= render partial: 'comments/form' %>
<p><br></p>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<br/>

<%= link_to "Back to Article List", articles_path %>
<br/>
<% if logged_in? %>

<%= link_to "Edit this Article", edit_article_path(@article) %>

<br/>
<%= link_to "Delete this Article", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>

<% end %>